@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');


html, body {
  margin: 0;
  padding: 0;
  background-color:#bbbfbf;
}
canvas {
  display: block;
  margin: auto;
  padding: 15px;
}

h1 {
  font-family: "Rubik", serif;
  margin:auto;
  text-align:CENTER;
}

button {
  font-weight: bold;
  font-family: "Rubik", serif;
  margin: auto;
  margin-top: 5px;
  padding: 10px;
  display: block;
  color:#2b8767;
  background-color: #2e2d2c;
  border: 2px solid #ffffff;
}

p {
  
}

p1 {
   
}

.banner {
  padding: 0px;
  letter-spacing: 10px;
  font-size: 100%;
  text-align: CENTER;
  margin: auto;
  border: 2px solid #ffffff;
  color: #2b8767;
  background: #2e2d2c
}

#sketchHolder {
  border: 2px solid #ffffff;
  background-color: #2e2d2c;
 
}

#statement {
  font-family: "Geo", serif;
  margin-top: 20px;
  background-color: #2e2d2c;
  border: 2px solid #ffffff;
  color: #2b8767;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center
}

#howto {
  font-family: "Geo", serif;
  margin-top: 20px;
  background-color: #2e2d2c;
  border: 2px solid #ffffff;
  color: #2b8767;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center
}